# kick start for vm version 0.1
text

# Use HTTP installation method.
url --url http://192.168.1.58/repo

lang en_US.UTF-8
keyboard us

%include /tmp/network.ks

network --onboot yes --device eth1 --bootproto dhcp --noipv6 
reboot

rootpw  --iscrypted $6$mp7D7KeMRUqPBxQl$dvpa/xeUq3nMla3MiXPH.tEZA3s0rs/D.QNTgsVnLwwHdXHz.7cbNubDuqqzsVG7k/TTq6xWzcQeEAGvhg2yz0

firewall --disabled

authconfig --enableshadow --passalgo=sha512

selinux --permissive

timezone --utc Asia/Tokyo

bootloader --location=mbr --driveorder=vda --append="crashkernel=auto rhgb quiet"

# The following is the partition information you requested

clearpart --linux --drives=vda
zerombr

part /boot --fstype=ext4 --size=500
part pv.1 --grow --size=1
volgroup vg_centos --pesize=4096 pv.1
logvol / --fstype=ext4 --name=lv_root --vgname=vg_centos --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=vg_centos --grow --size=1000 --maxsize=1024


##### package #####
%packages
@base
@core
screen
wget
nfs-utils
httpd
%end

#### pre #####

%pre

#!/bin/sh
for x in `cat /proc/cmdline`; do
        case $x in SERVERNAME*)
	        eval $x
		echo "network --device eth0 --bootproto dhcp --hostname mkdata-${SERVERNAME}.example.com" > /tmp/network.ks
                ;;
	        esac;
	done

###### create user.
for x in `cat /proc/cmdline`; do
        case $x in USER*)
                eval $x
                echo "groupadd -g 1000 ${USER}" > /tmp/user.ks
                echo "useradd -u 1000 -g 1000 -d /home/${USER} -s /bin/bash ${USER}" >> /tmp/user.ks
                echo "echo redhat | passwd --stdin ${USER}" >> /tmp/user.ks
                echo "mkdir /home/${USER}/.ssh" >>     /tmp/user.ks
                echo "chmod 700 /home/${USER}/.ssh" >> /tmp/user.ks
                echo "chown ${USER}:${USER} /home/${USER}/.ssh" >> /tmp/user.ks
                echo "cat /root/.ssh/mkuser.rsa.pub > /home/${USER}/.ssh/authorized_keys" >> /tmp/user.ks
                echo "chown ${USER}:${USER} /home/${USER}/.ssh/authorized_keys" >> /tmp/user.ks
                echo "chmod 600 /home/${USER}/.ssh/authorized_keys" >>  /tmp/user.ks
                echo "touch /etc/sudoers.d/${USER}"                 >>  /tmp/user.ks
                echo "chmod 440 /etc/sudoers.d/${USER}"             >>  /tmp/user.ks    
                ;;
                esac;
         done

%end


###### post ######

%post --interpreter=/bin/bash 


ip=`/sbin/ifconfig eth0 | grep 'inet ' | cut -d: -f2 | awk '{ print $1}' | cut -c11-12`

host=`/bin/cat /etc/sysconfig/network | grep mkdata | cut -c10-40`

ip_addr=` /sbin/ifconfig eth0 | grep 'inet ' | cut -d: -f2 | awk '{ print $1}'`

echo "#########################################" >> /etc/hosts

echo "$ip_addr  $host" >> /etc/hosts

echo "#########################################" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "IPADDR=$ip_addr" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "NETMASK=255.255.255.0" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "GATEWAY=192.168.1.1" >> /etc/sysconfig/network

/bin/sed -i -e "s/dhcp/static/g" /etc/sysconfig/network-scripts/ifcfg-eth0

/bin/sed -i -e '/NM_CONTROLLED/d' /etc/sysconfig/network-scripts/ifcfg-eth0

echo "NM_CONTROLLED=no" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "DNS2=8.8.8.8"  >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "nameserver 8.8.8.8" >> /etc/resolv.conf

/bin/cp /etc/rc.d/rc.local /etc/rc.d/rc.localold

###### added by kim#####

/bin/mkdir /metadata
echo "mount -t nfs 192.168.1.20:/key               /mnt"      >> /etc/rc.d/rc.local
echo "mount -t nfs 192.168.1.58:/metadata          /metadata" >> /etc/rc.d/rc.local

echo "chmod u+x /metadata/create.sh" >> /etc/rc.d/rc.local
echo "/bin/bash /metadata/create.sh" >> /etc/rc.d/rc.local


##### create pem key

mkdir /root/.ssh
chmod 700 /root/.ssh
ssh-keygen -f /root/.ssh/mkuser.rsa  -t rsa -N '' -C ""

%include /tmp/user.ks

host=`/bin/cat /etc/sysconfig/network | grep mkdata | cut -c10-40`
openssl rsa -in /root/.ssh/mkuser.rsa -outform pem > /root/$host.pem

echo "/bin/cp -f /metadata/motd /etc/ " >> /etc/rc.d/rc.local
echo "/bin/cp -f /metadata/issue.net /etc/ " >> /etc/rc.d/rc.local

echo "umount /mnt"                   >> /etc/rc.d/rc.local
echo "umount /metadata"              >> /etc/rc.d/rc.local

echo "/bin/mv  /etc/rc.d/rc.localold /etc/rc.d/rc.local" >> /etc/rc.d/rc.local


#### can not login root user

sed 's/#\?\(PermitRootLogin\s*\).*$/\1 no/' /etc/ssh/sshd_config > temp.txt 
sed 's/#\?\(Banner\s*\).*$/\1 \/etc\/issue.net/' temp.txt > temp1.txt
mv -f temp1.txt temp.txt
mv -f temp.txt /etc/ssh/sshd_config



%end

